<div class="dates">
    {{#each this}}
    <section class="date">
        <div class="meta">
        {{user.username}} from {{date.location}} on {{format_date created_at}}
        </div>
        <div class="text">
        {{date_text}}
        </div>
    </section>
    {{/each}}
</div>