{{#if loggedIn}}
<div class="home row dog-list">
    {{#each dogs as |dog|}}
    
        {{> dog-info dog }}
    <!--button appears on scroll to allow user to go back to top of page--> 
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script src="/javascript/script.js"></script>
    {{else}}
    There are currently no pets
    {{/each}}
</div>
{{else}}
<div class="jumbotron">
    <h1 class="display-4">What's UpDog?</h1>
    <p class="lead">Connect with other dog owners to help your furry friends meet up to play!</p>

    <form class="signup-form">
        <div>
            <label for="username-signup">Name</label>
            <input type="text" id="username-signup" placeholder="Ex. John D"/>
        </div>
        <div>
            <label for="email-signup">Email address</label>
            <input type="text" id="email-signup" placeholder="name@example.com"/>
        </div>
        <div>
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" placeholder="Password"/>
        </div>
        <div>
            <button type="submit" class="btn btn-success text-white">Sign Up</button>
        </div>
    </form>
</div>
<script src="/javascript/signup.js"></script>
{{/if}}