<h2 class="text-center">Request Play Date</h2>

{{> dog-info dog }}

<form class="request-form">
    <div>
        <input name="location" placeholder="Where should we meet?" id="date-location"></input>
        <textarea name="request-body" placeholder="Tell me about yourself"></textarea>
    </div>

    <div>
        <button type="button" class="btn btn-success" id="submit-request">Submit Request</button>
    </div>
</form>

<script src="/javascript/submit-request.js"></script>