{{> dog-info dog }}
{{#if loggedIn}}
<form class="review-form">
    <div>
        <textarea name="review-body"></textarea>
    </div>

    <div>
        <button type="submit" class="btn btn-success">Add review</button>
        <button type="button" class="upbone-btn btn btn-success">Give a dog a <i class="fas fa-bone"></i> !</button>
        <button type="button" class="btn btn-success" id="request-date">Request Playdate</button>
    </div>
    </form>
{{/if}}
{{> reviews dog.reviews}}    

{{#if loggedIn}}
<script src="/javascript/review.js"></script>
<script src="/javascript/upbone.js"></script>
<script src="/javascript/request.js"></script>
{{/if}}

<script src="/javascript/submit-request.js"></script>